@import 'styles/variables';

.weatherWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  border-radius: 5%;
  min-width: 400px;
  min-height: 500px;
}

.text {
  color: $whiteColor;
  font-size: 28px;
  font-weight: 500;

  &::first-letter {
    text-transform: uppercase;
  }
}

.icon {
  font-size: 44px;
  color: $whiteColor;
}

.iconWrapper {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.input {
  width: 170px;
  height: 34px;
  padding: 5px;

  font-size: 32px;
  color: $whiteColor;
  border: 0;
  outline: 0;
  border-bottom: 1px solid $whiteColor;
  background-color: transparent;
}
