.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
}

.buttonWrapper {
  display: flex;
  column-gap: 2rem;
}

.button {
  border: none;
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(90deg, #faf0cd, #fab397);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(0.8);
  }
}

.inputTags {
  outline: none;
  padding: 0.5rem 1rem;
  width: 60%;
  border-radius: 10px;
  background-color: transparent;
  font-style: italic;

  font-size: 1.5rem;
  color: #fab397;

  &::placeholder {
    color: rgb(250, 179, 151, 0.5);
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
  }
}
