@import 'styles/variables';
@import 'styles/media';

.todoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.todoInput {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $peachColor;
  outline: 0;
  font-size: 1.3rem;
  color: $whiteColor;
  padding: 7px 0;
  background: transparent;
  transition: $defaultTransition;

  &::placeholder {
    color: rgb(250, 179, 151, 0.5);
    font-weight: 400;
    font-size: 1.5rem;
  }

  @include tablet {
    font-size: 1rem;

    &::placeholder {
      font-size: 1rem;
    }
  }
}

.btn {
  cursor: pointer;
  transition: $defaultTransition;

  &:hover {
    transform: scale(0.8);
  }

  &:disabled {
    transform: none;
  }
}
